/* #region CSS RELATED TO GENERAL PAGE LAYOUT */
body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

html, body, .map-container {
  height: 100%;
  width: 100vw;
}
/* #endregion */

/* #region CSS RELATED TO LEAFLET MAP */
#map {
  width: 100%;
  height: 100%;
}

.not-allowed-cursor {
  cursor: grab !important
}

.blur {
  filter: blur(8px);
}
/* #endregion */

/* #region CSS RELATED TO 3-2-1 COUNTDOWN TIMER*/
.countdown-timer {
  pointer-events: none;
  font-size: 140px;
  /* color: #778F9B; */
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  z-index: 1003;
}

.countdown-timer span {
  position: absolute;
  opacity: 0;
  top: 200px;
}

@keyframes time {

  0%,
  10%,
  100% {
    opacity: 0;
    transform: scale(1);
  }

  5% {
    opacity: 0.8;
    transform: scale(1.2);
  }
}

.start-animation {
  animation: time 4s;
}

.go {
  animation-delay: 3s;
  color: #FF1643;
  left: calc(50% - 110px);
}

.num1,
.num2,
.num3 {
  left: calc(50% - 40px);
}

.num1 {
  animation-delay: 2s;
}

.num2 {
  animation-delay: 1s;
}

.num3 {
  animation-delay: 0s;
}
/* #endregion */

/* #region CSS RELATED TO COMMAND AND RESULT MODALS */
.command-container, .result {
  text-align: center;
  position: fixed;
  opacity: .6;
  pointer-events: none;
  font-size: 20px;
  font-weight: bold;
  z-index: 1002;
}

.command-container {
  top: 0;
  left: 0;
  right: 0;
  padding: 5px 60px 5px 40px;
  background-color: black;
  color: white;
}

.hide-command {
  animation-name: animateHideCommand;
  animation-duration: 1s;
  animation-iteration-count: 2;
  animation-direction: alternate;
}

@keyframes animateHideCommand {
  0%   {top: 0px;}
  50%   {top: -100px;}
  100%  {top: -100px;}
}

.progress {
  position: absolute;
  left: 5px;
  font-size: 15px;
  top: 50%;
  transform: translateY(-50%);
}

.time-elapsed {
  position: absolute;
  right: 5px;
  font-size: 15px;
  top: 50%;
  transform: translateY(-50%);
}

.result {
  bottom: -100px;
  left: 0;
  right: 0;
  padding: 5px 20px;
}

.show {
  animation-name: animateShowResult;
  animation-duration: 1s;
  animation-iteration-count: 2;
  animation-direction: alternate;
}

@keyframes animateShowResult {
  0%   {bottom: -100px;}
  50%   {bottom: 0px;}
  100%  {bottom: 0px;}
}

.alarm {
  background-color: red;
  color: white;
}

.success {
  background-color: green;
  color: white;
}
/* #endregion */

/* #region CSS RELATED TO END OF GAME INFOBOX */
.end-of-game-infobox {
  position: Fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 1005;
  display: none;
  pointer-events: None;
}

.show {
  display: block;
}

.end-of-game-infobox>div {
  position: relative;
  margin: 10px;
  padding: 5px 20px 13px 20px;
  border-radius: 10px;
  background-color: #FFFFFF;
  background: linear-gradient(#FFFFFF, #999999);
  pointer-events: Auto;
  cursor: Default;
  text-align: center;
}

.play-again-button {
  position: relative;
  width: 200px;
  /* left: calc(50% - 100px); */
  background-color: #4CAF50;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
  box-shadow: 2px 5px 4px #888888;
  border-radius: 8px;
}

.play-again-button:hover {
  background-color: #247727;
}

.end-of-game-infobox-highscore {
  margin: 10px auto;
}

thead {
  background-color: grey;
}

#last-game {
  background-color: lightgreen;
}

tbody tr:nth-child(even) {
  background-color: #F0F0F0;
}
/* #endregion */

.welcome-infobox {
  text-align: center;
  position: fixed;
  /* pointer-events: none; */
  font-size: 20px;
  font-weight: bold;
  z-index: 1003;
  top: 0px;
  right: 0;
  height: 100vh;
  width: 300px;
  /* padding: 5px 60px 5px 40px; */
  background-color: white;
  /* color: white; */

  transition-property: right;
  transition-duration: 200ms;
  transition-timing-function: linear;

  box-shadow: 0 1px 2px rgb(60 64 67 / 30%), 0 2px 6px 2px rgb(60 64 67 / 15%);
}

.hide-welcome {
  right: -300px;
}

.expand-button {
  width: 25px;
  height: 50px;
  /* background-color: white; */
  top: calc(50% - 25px);
  position: absolute;
  left: -25px;
  border-radius: 10px 0 0 10px;

  border: 0;
  box-shadow: -2px 2px 2px rgb(60 64 67 / 30%);
  cursor: pointer;
  border-right: 1px solid #d4d4d4;

  background: #fff 7px/7px 10px no-repeat;
  padding: 0;
}

.arrow-image {
  vertical-align: middle;
}

.mirror-image {
  transform: scaleX(-1);
}