/* #region CSS RELATED TO GENERAL PAGE LAYOUT */
body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

html, body, .map-container {
  height: 100%;
  width: 100vw;
}
/* #endregion */

/* #region CSS RELATED TO LEAFLET MAP */
#map {
  width: 100%;
  height: 100%;
}

.not-allowed-cursor {
  cursor: grab !important
}

.blur {
  filter: blur(8px);
}
/* #endregion */

/* #region CSS RELATED TO 3-2-1 COUNTDOWN TIMER*/
.countdown-timer {
  pointer-events: none;
  font-size: 140px;
  /* color: #778F9B; */
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  z-index: 1003;
}

.countdown-timer span {
  position: absolute;
  opacity: 0;
  top: 200px;
}

@keyframes time {

  0%,
  10%,
  100% {
    opacity: 0;
    transform: scale(1);
  }

  5% {
    opacity: 0.8;
    transform: scale(1.2);
  }
}

.start-animation {
  animation: time 4s;
}

.go {
  animation-delay: 3s;
  color: #FF1643;
  left: calc(50% - 110px);
}

.num1,
.num2,
.num3 {
  left: calc(50% - 40px);
}

.num1 {
  animation-delay: 2s;
}

.num2 {
  animation-delay: 1s;
}

.num3 {
  animation-delay: 0s;
}
/* #endregion */

/* #region CSS RELATED TO COMMAND AND RESULT MODALS */
.command-container, .result {
  text-align: center;
  position: fixed;
  opacity: .6;
  pointer-events: none;
  font-size: 20px;
  font-weight: bold;
  z-index: 1002;
}

.command-container {
  top: 0;
  left: 0;
  right: 0;
  padding: 5px 60px 5px 40px;
  background-color: black;
  color: white;
}

.hide-command {
  animation-name: animateHideCommand;
  animation-duration: 1s;
  animation-iteration-count: 2;
  animation-direction: alternate;
}

@keyframes animateHideCommand {
  0%   {top: 0px;}
  50%   {top: -100px;}
  100%  {top: -100px;}
}

.progress {
  position: absolute;
  left: 5px;
  font-size: 15px;
  top: 50%;
  transform: translateY(-50%);
}

.time-elapsed {
  position: absolute;
  right: 5px;
  font-size: 15px;
  top: 50%;
  transform: translateY(-50%);
}

.result {
  bottom: -100px;
  left: 0;
  right: 0;
  padding: 5px 20px;
}

.show {
  animation-name: animateShowResult;
  animation-duration: 1s;
  animation-iteration-count: 2;
  animation-direction: alternate;
}

@keyframes animateShowResult {
  0%   {bottom: -100px;}
  50%   {bottom: 0px;}
  100%  {bottom: 0px;}
}

.alarm {
  background-color: red;
  color: white;
}

.success {
  background-color: green;
  color: white;
}
/* #endregion */